* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  background-color: #0b1320;
  color: white;
  width: 100%;
  min-height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

img {
  width: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: #d82b00;
}

.heading {
  text-align: center;
  line-height: 36px;
}

.heading h2 {
  padding-top: 100px;
  font-weight: 700;
}

.heading p {
  font-weight: 500;
}

.grid-container div h3 {
  padding-bottom: 10px;
}

.grid-container div p {
  line-height: 1.5;
  width: 24em;
  padding-bottom: 20px;
}

.grid-container div a {
  font-weight: 800;
}
